sampleconfigurations
platform
ext-accelerator
ext-addon
ext-atdd
ext-atddtests
ext-backoffice
ext-channel
ext-cockpit
ext-commerce
ext-content
ext-data
ext-deprecated
ext-integration
ext-platform-optional
ext-print
ext-supportability
ext-template
data
log
temp

# generated folders and files #
*.class
*.number
*.prefs
platformhome.properties
*hmc.jar
*-testclasses.xml
.sass-cache
*.scssc
classes/
gensrc/
eclipsebin/
jaxbsrc/
config/template/licence/
/bin/custom/utas/utascore/hmc/bin/utascorehmc.jar
classes
/bin/custom/utas/utascore/src/com/utas/core/jalo
/bin/custom/utas/utasintegrations/src/com/utas/integrations/jalo
config/licence/
*rebel.xml
*xsd
config/solr/embedded/solr.xml
addons
addonsrc
