/*
## Account
********************************************************************/

#accountNav{
	
}

#accountNav .headline{
	border-bottom:1px solid #a5a5a5;
	height:30px;
	line-height:30px;
	text-transform:uppercase;
	font-weight:bold;
	font-size:1.2em;
	margin:0 0 20px 0;	
}


#accountNav li.active{
	font-weight:bold;	
}

.customAccount{
	margin:0 -20px 0 0;
	width:810px;
}


.customAccount .tile{
	border:1px dotted #a5a5a5;
	padding:0 20px 20px;
	width:343px;
	margin:0 20px 20px 0;
	height:100px;
}

.customAccount .tile .headline{
	border-bottom: 1px solid #A5A5A5;
	font-size: 1.2em;
	font-weight: bold;
	height: 39px;
	line-height: 39px;
	text-transform: uppercase;
	margin:0 0 20px;
}

.customAccount .tile .headline a{
	display:block;
}

.accountContentPane {
	border:1px dotted #a5a5a5;
	padding:0 20px 20px;
	width:748px;
	margin:0;

}

.accountContentPane .headline{
	border-bottom: 1px solid #A5A5A5;
	font-size: 1.2em;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	text-transform: uppercase;
	margin:0 0 20px;
}

.accountContentPane .addressItem{
	border-bottom:1px dotted #a5a5a5;

	padding:20px 0;
	position:relative;
}


.accountContentPane .addressItem .buttons{
	position:absolute;
	right:0;
	top:20px;

}

.account-profile-data tr > td {
	min-width: 70px;
	padding: 0 5px 5px 0;
}


.accountContentPane .paymentItem{
	border-bottom:1px dotted #a5a5a5;
	float: left;
	padding:20px 0;
	position:relative;
	width: 100%;
}


.accountContentPane .paymentItem .buttons{
	position:absolute;
	right:0;
	top:20px;

}

.accountContentPane .span-6.order-totals {
	float: right;
	margin: -5px 5px 10px 0;
}


.accountContentPane .i18nAddressForm{
	margin-right:-20px;
}
.accountContentPane .control-group{
	float:left;
	width:305px;
	margin-right:20px;
}


.accountContentPane  .form-actions{
	clear:both;
}

.accountContentPane  .orderBoxes {
	margin: 20px -20px 0 0;
	clear: left;
}

.accountContentPane  .orderBoxes .orderBox{
	width:322px;
	margin:0 20px 20px 0;
}

.negotiate-quote {
	margin: 25px 0 40px 0;
}

.quote-metadata {
	margin: 25px 0 40px 0;
}

.delivery_stages .orderBox {
	width: 190px;
}

.delivery_stages {
	margin: 40px 0;
}

.replenishment-detail .orderListTable {
	margin: 10px 0;
}

.address-removal-confirm-popup{
	padding: 20px;
}

.address-removal-confirm-popup .addressItem{
	margin-bottom: 20px;
}

.replenishment-detail .payment {
    width: 230px;
}

.replenishment-confiramtion-details .re_schedule .headline,
div.delivery_stages .headline{
	height: auto;
}

.replenishment-confiramtion-details .address{
	margin-right: 20px;
}

.replenishment-confiramtion-details .payment{
	margin-right: 0;
}

.myaccount_payment_head {
    border-bottom: 1px solid #333333;
    float: left;
    padding-top: 15px;
    width: 100%;
}

.myaccount_payment_head span{
	color: #333333;	
	font-weight: bold;
	font-size: 14px;
}
