.login-to-get-prices {
    float: right;
    position: relative;
    right: 10px;
}

.login-to-get-prices a {
	color: #00679F;
}

.big-price {
	padding-bottom: 6px;
	margin: 10px 0 15px 0;
	border-bottom: 1px solid #ddd;
}

.volume-prices {
	margin-top: 7px;
	border-bottom: 1px solid #C0C1C2;
}

.volume-prices th {
	background-color: #eee;
	padding: 5px 5px 3px 5px;
}

.volume-prices td {
	padding: 3px 5px;
}

.volume-prices th.volume-price-amount {
	border-left: 1px solid #fff;
}

.login-info {
	padding: 15px 0;
	font-size: 1.2em;
	line-height: 1.3em;
}

/*--checkoutsummary--*/
.checkout_summary_flow_a {
	left: 0;
	width: 209px;
}

.checkout_summary_flow_b {
	width: 276px;
}

.checkout_summary_flow_c {
	left: 484px;
	width: 237px;
}

#checkout_summary_deliverymode_div {
	background: url("../images/background-checkout-summary-box-b-b2b.png") no-repeat scroll center center;
	left: 715px;
	width: 237px;
}

#checkout_summary_deliverymode_div.complete {
	background: url("../images/background-checkout-summary-box-b-b2b-complete.png") no-repeat scroll center center;
}



#CostCenter {
	background: url("../images/bg-gradient-select.png") repeat-x scroll center bottom #ffffff;
	border: 1px solid #999999;
	border-radius: 3px 3px 3px 3px;
	color: #666666;
	width: 180px;
}

#CostCenter option {
	width: 155px;
}

#PurchaseOrderNumber {
	border: 1px solid #bbbbbb;
	border-radius: 3px 3px 3px 3px;
	padding: 3px 3px 3px;
	box-shadow: 3px 3px 4px #eeeeee inset;
}

.pon {
	padding: 30px 0px 0px 20px;
}

.radiobuttons_paymentselection {
	padding: 0px 0px 0px 14px;
}

/*--Buttons--*/
#cancel-place-replenishmentOrder {
	background-image: url("../images/button/gradient-button-positive.png");
	font-size: 1.3em;
	margin: 4px 15px 0px 40px;
	padding: 6px 9px;
	font-weight: bold;
	line-height: normal;
	background-color: #356F70;
	background-position: center bottom;
	background-repeat: repeat-x;
	border: 0 none;
	border-radius: 3px 3px 3px 3px;
	color: #ffffff;
	text-shadow: 0 -1px 1px #333333;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
}

#cancel-quote-negotiation {
	background-image: url("../images/button/gradient-button-positive.png");
	font-size: 1.3em;
	margin: 5px 2px 0px 40px;
	padding: 6px 9px;
	font-weight: bold;
	line-height: normal;
	background-color: #356F70;
	background-position: center bottom;
	background-repeat: repeat-x;
	border: 0 none;
	border-radius: 3px 3px 3px 3px;
	color: #ffffff;
	text-shadow: 0 -1px 1px #333333;
	text-transform: uppercase;
	text-decoration: none;
}

#terms2 {
	padding: 3px 30px 0px 0px;
}

#scheduleReplenishmentButton {
	background-color: #356F70;
	margin-right: 5px;
}

#requestQuoteButton {
	margin-right: 15px;
	background-color: #356F70;
}

/*--datepicker--*/
#ui-datepicker-div {
	background-color: #fff;
	padding: 5px 5px 5px 5px;
	box-shadow: 2px 2px 5px #888;
	display: none;
}

table.ui-datepicker-calendar tr td {
	padding: 4px;
}

.ui-datepicker-next {
	color: #356F70;
}

.ui-datepicker-next:hover {
	color: #7fada5;
	cursor: pointer;
}

.ui-datepicker-prev {
	color: #356F70;
	padding: 0px 10px 0px 0px;
}

.ui-datepicker-prev:hover {
	color: #7fada5;
	cursor: pointer;
}

/*--replenishment-schedule-div--*/
.replenishmentFrequency_topic {
	float: left;
	padding: 0px 0px 0px 0px;
}

.replenishmentFrequency {
	float: left;
	width: 175px;
	padding: 0px 17px 6px 0px;
	border-bottom: 1px solid #DFDFDF;
	float: left;
	padding: 0 0 8px 0;
	width: 100%;
	margin: 0 0 4px;
}

.replenishmentFrequency input {
    display: block;
    float: left;


}

.replenishmentFrequency label {
    display: block;
    float: left;
    font-weight: bold;
    line-height: 16px;
    margin: 0;

}

.replenishmentFrequency_left {

}

.replenishmentFrequency_left label {
	border-bottom: 1px solid #dfdfdf;
	padding: 0px 0px 8px 0px;
	margin-bottom: 6px;
	font-weight: bold;
	display: block;
}

.scheduleform_left {

}

.scheduleform {
	float: left;
	width: 159px;
	height: 140px;
	border: 1px solid #dfdfdf;
	margin: 0 14px 0 0;
	padding: 10px 10px 0;
	background-color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f6f6f6));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
}

.scheduleform_last {
	margin:0;
}

.scheduleformfilled {
	border: 1px solid #a7a7a7;
	background: #dfdfdf;
	background: -moz-linear-gradient(top,  #ffffff 0%, #e1e1e1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e1e1e1));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e1e1e1 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#e1e1e1 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#e1e1e1 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#e1e1e1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e1e1',GradientType=0 );
}





.scheduleform  label{
	white-space: nowrap;
}

.scheduleform  select{
	float:none;
	display:block;
}

.div_nWeeks1 {
	margin: 0px 0px 0px 0px;


}


.div_nWeeks1 label{
	padding-top:0;
}

.div_nWeeks2 {

	padding: 0px;

}

.scheduleformW .div_nWeeks1 select{
	width:100%;
	height: 55px;
}


.scheduleformW .div_nWeeks2 {
	padding:5px 0 0;
	line-height:17px;
	height:18px;
	
}



.scheduleformW .div_nWeeks2 label{
	padding:0;
	height:18px;
}

.scheduleformW .div_nWeeks2 select{
	margin:0 5px 0 0px;
	display:inline;
	
}












#replenishmentStartDate {
	background: url("../images/bg_replenishmentstartdate.jpg") no-repeat;
	width: 128px;
	border: 0;
	margin: 0 0 5px 0;
}

.scheduleform select {
	background: url("../images/bg-gradient-select.png") repeat-x scroll center bottom #ffffff;
	border: 1px solid #999999;
	border-radius: 3px 3px 3px 3px;
	color: #666666;
	margin: 1px 8px 0px 0px;
}

.label_weeks {
	padding: 15px 0px 4px 0px;
	float: left;
}

.label {
	padding: 15px 0px 4px 0px;
	width: 84px;
}

form label.label_small {
	padding: 0 5px 4px 0px;
	width: 150px;
	font-size: inherit;
}


#quoteRequestDescription {
	width: 200px;
	border: 1px solid #bbbbbb;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 3px 3px 4px #eeeeee inset;
	padding: 3px;
	width: 760px;
	line-height: 18px;
}

#header ul.language li {
	border-left: none;
}

#header ul.language li {
	padding: 0px 5px;
}

.updates1 {
	width: 45px;
}

#header1 {
	width: 100px;
}

#header3 {
	width: 110px;
}

.myCompany .item_container_holder .item_container_holder {
	background-color: #fff;
	border: 1px solid #BACAD5;
	border-radius: 4px 4px 4px 4px;
}

.paymentinfo {
	width: 150px;
	border: 0 none;

}

.page-orderConfirmationPage .paymentinfo {
	width: 150px;
	border: 0 none;
	padding:0;
	margin:0;
}

.page-orderConfirmationPage .paymentinfo ul {
	margin:0;
	padding:0;
}


.table_budget {
	border: 0 none;
	width: auto;
}

.table_budget td {
	border: 0 none;
	padding: 0px 20px 0px 0px;
	margin: 0px;
	white-space: nowrap;
}

.back_button:hover {
	text-decoration: none;
}

.cancel_button:hover {
	text-decoration: none;
}

.b2BCustomerFormList dd span{
	float: none;
	display: block;
}


.b2BCustomerFormList dd span:before,
.b2BCustomerFormList dd span:after {
          content: ".";
          display: block;
          height: 0;
          overflow: hidden;
}


.oms_message_holder {
	color:red;
	font-size:14px;
	padding-left: 3px;
}


.b2BCustomerFormList dd span:after {
            clear: both;
}

.b2BCustomerFormList dd span{
            zoom: 1; /* IE < 8 */
}

.forgotten-pwd .title_holder {
	margin: 10px 0 0 10px;
}
